{% extends 'admin.html' %}
<head>

    {% load staticfiles %}
    {% block title%}<title>Giriş</title>{% endblock %}
</head>
{% block content %}
{% load staticfiles %}
    <link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>

<div class="container">
		<div class="giris">
		  	  <form action="{% url 'users:auth_login' %}" method="POST" >{% csrf_token %}
				 <div class="ust-giris">
					<h3>OYUN EKLE</h3>
					<div class="mation">
                        <span>Logo<label>*</label></span>
                        <input type="text">

						<span>Oyun Adı<label>*</label></span>
						<input type="text" class="form-control" id="emailInput" placeholder="OyunAdı">
						<span>Pin Fiyatı<label>*</label></span>
						<input type="text" class="form-control" id="nameInput" placeholder="OyunParası">
                        
                        <span>Kategorisi<label>*</label></span>
						<select>
                            <option value=""></option>
                             <option value=""></option>
                             <option value=""></option>
                        </select>
                        <span>Sirket<label>*</label></span>
						<select>
                            <option value=""></option>
                             <option value=""></option>
                             <option value=""></option>
                        </select>
                        <span>Platform<label>*</label></span>
						<select>
                            <option value=""></option>
                             <option value=""></option>
                             <option value=""></option>
                        </select>
                        <button type="submit" class="btn btn-default">Submit</button>

				</form>

				</div>
		   </div>
</div>
{% endblock %}