<head>
    {% extends 'admin.html' %}
    {% load staticfiles %}
    {% block title%}<title>Giriş</title>{% endblock %}
</head>
{% block content %}
    <link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="container">
		<div class="giris">
		  	  <form action="{% url 'users:auth_login' %}" method="POST" >{% csrf_token %}
				 <div class="ust-giris">
					<h3>OYUN EKLE</h3>
					<div class="mation">
                        <span>Logo<label></label></span>
                        <input type="file" name="image" accept="image/*" size="" style="margin: 30px 30px 40px 0px">

						<span>Oyun Adı<label></label></span>
						<input type="text" name="gamename">
						<span>Fiyatı<label></label></span>
						<input type="text" name="price">
                        <span>Kategorisi<label></label></span>
						<select style="margin: 5px 5px 10px 0px">
                            <option value=""></option>
                             <option value=""></option>
                             <option value=""></option>
                        </select>
                        <span>Sirket<label></label></span>
						<select style="margin: 5px 5px 10px 0px">
                            <option value=""></option>
                             <option value=""></option>
                             <option value=""></option>
                        </select>
                        <span>Platform<label></label></span>
						<select style="margin: 5px 5px 10px 0px">
                            <option value=""></option>
                             <option value=""></option>
                             <option value=""></option>
                        </select>
                        <button type="button" class="btn btn-danger" style="margin-left:520px">EKLE</button>
				</div>
                 </div>
				</form>

		   </div>
</div>
{% endblock %}