{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Giriş{% endblock %}


{% block content %}
<div class="col-md-6 col-md-offset-4">
    <form class="user-form" action="{% url 'users:auth_login' %}" method="POST">{% csrf_token %}
        <h3>Giriş</h3>
        <div class="col-md-12">
            <div class="form-layout">
                <input type="text" name="username" class="form-control" placeholder="Kullanıcı Adı*">
                <input type="password" name="password" class="form-control" placeholder="Şifre*">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-block signup-button">Giriş</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 register-text">
            <h3 class="text-center">HEMEN ÜYE OL</h3>
            <p>Epinworld e katılarak avantajlı fiyatlara ulaşmak için üye ol.</p>
            <a href="{% static 'users:register' %}" class="btn gray text-center width100"><span>ÜYE OL</span></a></div>
    </form>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>

{% endblock %}


