<head>

    {% extends 'base.html' %}

    {% load staticfiles %}

    {% block title%}<title>Giriş</title>{% endblock %}


</head>
{% block content %}
    <link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="container">
		<div class="giris">
		  	  <form>
				 <div class="ust-giris">
					<h3>KİŞİSEL BİLGİLER</h3>
					<div class="mation">
						<span>Ad<label>*</label></span>
						<input type="text">

						<span>Soyad<label>*</label></span>
						<input type="text">

						 <span>E-mail<label>*</label></span>
						 <input type="email">
					</div>
					 <div class="clearfix"> </div>
					 </div>
				     <div class="alt-giris">
						    <h3>GİRİŞ BİLGİLERİ</h3>
							<div class="mation">
								<span>Şifre<label>*</label></span>
								<input type="password">
								<span>Şifreyi doğrula<label>*</label></span>
								<input type="password">
							</div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="register-but">
				   <form>
					   <input type="submit" value="submit">
					   <div class="clearfix"> </div>
				   </form>
				</div>
		   </div>
</div>
{% endblock %}