<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <script src="{% static 'js/validationForm_ajax.js' %}"></script>

</head>
<style>
    .m0 {
        margin: 0;
    }
</style>
<body>
<div class="container">
    <nav class="navbar navbar-default custom-header">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link"
                                          href="{% url 'home:index' %}">Epin<span>World </span> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav links">
                    <li role="presentation"><a href="{% url 'games:all_game' %}"> Oyunlar </a></li>
                    <li role="presentation"><a href="#"> Hakkında</a></li>
                    <li role="presentation"><a href="#"> Yardım</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right userlinks">
                    {% if request.session.is_logged %}
                    {% if request.session.admin_id == 1 %}
                    <span style="color: white; margin-right: 10px;">Admin bey hoşgeldiniz efenim</span>
                    <a href="{% url 'adminn:index' %}" class="btn btn-primary button1" role="button">Admin</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-primary button2" role="button">Çıkış</a>
                    {% else %}
                    <span style="color: white; margin-right: 10px;">Hoşgeldin {{ request.session.username }}</span>
                    <a href="{% url 'users:profile' %}" class="btn btn-primary button1" role="button">Profil</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-primary button2" role="button">Çıkış</a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'users:register' %}" class="btn btn-primary button1" role="button">Üye Ol</a>
                    <a href="{% url 'users:login' %}" class="btn btn-primary button2" role="button">Giriş</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<header>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'games:search_game' %}" method="post">{% csrf_token %}
                    <div id="custom-search-input">
                        <div class="col-md-6 input-group">
                            <input type="text" name="search_game" id="oyunArama" class="form-control input-lg"
                                   style="color: white;" placeholder="Oyun Ara..."/>
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-lg" value="ARA" type="button">
                                        <i class="fa fa-search" aria-hidden="true"
                                           style="font-size: 23px; color: #eb3a3a;"></i>
                                    </button>
                            </span>
                            <div id="results" class="list-group">
                                <div class="ui-widget">

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div id="mycart" class="dropdown cart">
                    <button class="btn dropdown-toggle cart" type="button" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart carticon" aria-hidden="true"></i>Sepet<span class="badge">{{ request.session.cart|length }}</span>
                        <span class="caret" style="color: white; margin-left: 5px"></span></button>
                    <ul class="dropdown-menu dropdown-cart" style="right:0; left: auto;" role="menu">
                        <div class="cart-header">
                            <i class="fa fa-shopping-cart cart-icon"
                               style="font-size: 25px; margin-left: 10px; color: rgba(117, 236, 165, 0.9);"></i><span
                                class="badge">{{ request.session.cart|length }}</span>
                            <div class="shopping-cart-total">
                                <span>Toplam:</span>
                                <span class="cart-total">0</span>
                            </div>
                        </div>
                        {% if request.session.cart|length == 0 %}
                        <p style="text-align: center; color: white; margin-top: 10px;"> Sepet boş.</p>
                        {% else %}
                        {% for item in request.session.cart %}
                        <li>
                                    <span class="item">
                                        <span class="item-left">
                                            <img src="{% static '' %}{{item.logo}}" class="img-rounded" alt=""/>
                                            <span class="item-info">
                                                <span class="item-name">{{ item.game_name }}</span><br>
                                                <span class="item-quantity">{{ item.quantity }}</span>
                                                <label>x</label>
                                                <span class="item-price">{{ item.game_price }}</span>
                                            </span>
                                        </span>
                                        <span class="item-right">
                                            <button value="{{ item.game_id }}" onclick="removeCartItem()"
                                                    class="btn btn-xs btn-danger pull-right"><i class="fa fa-times"
                                                                                                aria-hidden="true"></i></button>
                                        </span>
                                    </span>
                        </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a class="text-center" style="color: white;" href="{% url 'sales:checkout' %}">Sepete
                            Git</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<div class="container">
    <footer>
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">Epin<span>World </span></a></h3>
                <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a
                        href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a
                        href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                <p
                        class="company-name">Company Name © 2015 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 555 123456</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p><a href="#" target="_blank">support@company.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>Adresimiz</h4>
                <p> İTÜ Ayazağa Kampüsü,
                    UYBHM. Binası No:2
                    Sarıyer/İstanbul
                </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
                        class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
</div>
<script>
    function removeCartItem() {
        $(".item").on("click", "button", function () {
            var game_id = $(this).val();

            $.ajax({
                type: "POST",
                url: "{% url 'sales:deletecartitem' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    game_id: game_id
                },
                success: function () {
                    $("#mycart").load(location.href + " #mycart>*", "");
                }
            });
        });
    }
</script>
<script>
    var search_list = [];
    $.ajax({
        type: 'GET',
        url: '{% url "games:games_json"%}',
        data: {get_param: 'value'},
        dataType: 'json',
        success: function (data) {
            var json = data;
            $.each(json, function (i, item) {
                search_list.push(json[i].game_name)
            });
            $('#oyunArama').autocomplete({
                minLength: 1,
                source: search_list,
                select: function (event, ui) {
                    $('#oyunArat').append(search_list[ui.item]);
                }
            });
        }
    });
</script>

<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
</body>
</html>