<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% block title%}<title>Base</title>{% endblock %}
    <!-- JavaScript Files -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validationForm_ajax.js' %}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--script-->
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css"/>
    <!--theme-style-->
    <link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext"
          rel="stylesheet">
    <!-- this is default skin you can replace that with: dark.css, yellow.css, red.css ect -->
    <link id="pagestyle" rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}"/>
</head>
<div class="header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-left">
                <ul class="support">
                    <li><a href="#"><label> </label></a></li>
                    <li><a href="#">24x7 Canlı<span class="live"> destek</span></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="top-header-right">
                <div class="down-top">
                    <form action="/language_detector/" method="GET">
                        <input type="text" name="language">
                        <button type="submit">DETECT</button>

                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="/"><img src="{% static 'images/logoo.jpeg'%}" style="width: 300px; height:100px;" alt=" "/></a>
                </div>

                <div class="search">
                        <input id="oyunArama" placeholder="Oyun ara..."><span id="oyunArat"></span>
                        <input type="submit" value="ARA">
                    </div>

                <div class="clearfix"></div>
            </div>
            <div class="header-bottom-right">
                {% if request.session.is_logged %}
                    {% if request.session.admin_id == 1 %}
                <div class="account"><a href="{% url 'adminn:index' %}"><span> </span>Admin</a></div>
                    {% else %}
                    <div class="account"><a href="{% url 'users:profile' %}"><span> </span>Hesabım</a></div>
                    <div class="cart"><a href="{% url 'sales:checkout' %}"><span> </span>Sepet</a></div>
                {% endif %}
                    <div class="glyphicon glyphicon-log-out" style="color:#FF5B36; font-size: 1.1em;"><a href="{% url 'users:logout' %}"><span> </span>Çıkış</a></div>
                {% else %}
                <ul class="login">
                    <li><a href="{% url 'users:register' %}"><span> </span>Üye Ol</a></li>
                    |
                    <li><a href="{% url 'users:login' %}">Giriş</a></li>
                </ul>
                {% endif %}
                <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!---->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="sub-cate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">Kategoriler</h3>
                    <ul class="menu">
                        {% for platform in platforms %}
                        <li class="item1"><a href="#">{{platform.platform_name}}
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
         $(function() {
             var menu_ul = $('.menu > li > ul'),
                    menu_a  = $('.menu > li > a');
             menu_ul.hide();
             menu_a.click(function(e) {
                 e.preventDefault();
                 if(!$(this).hasClass('active')) {
                     menu_a.removeClass('active');
                     menu_ul.filter(':visible').slideUp('normal');
                     $(this).addClass('active').next().stop(true,true).slideDown('normal');
                 } else {
                     $(this).removeClass('active');
                     $(this).next().stop(true,true).slideUp('normal');
                 }
             });
         });
                </script>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</div>
<!---->
<div class="clearfix" ></div>
<hr />
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5 class="title">Oyunlar</h5>
                <ul class="list alt-list">
                    <li><a href="shop-sidebar-left.html"><i
                            class="glyphicon glyphicon-certificate"></i>PC</a>
                    </li>
                    <li><a href="shop-sidebar-left.html"><i class="glyphicon glyphicon-certificate"></i>Mobil</a>
                    </li>
                    <li><a href="shop-sidebar-left.html"><i
                            class="glyphicon glyphicon-certificate"></i>Playstation</a>
                    </li>
                    <li><a href="shop-sidebar-left.html"><i
                            class="glyphicon glyphicon-certificate"></i>Xbox</a>
                    </li>
                </ul>
            </div><!-- end col -->
            <div class="col-sm-4">
                <h5 class="title">Hesap</h5>
                <ul class="list alt-list">
                    <li><a href="my-account.html"><i class="glyphicon glyphicon-certificate"></i>Hesabım</a>
                    </li>
                    <li><a href="cart.html"><i class="glyphicon glyphicon-certificate"></i>Sepetim</a></li>
                    <li><a href="checkout.html"><i class="glyphicon glyphicon-certificate"></i>Ödeme</a></li>
                    <li><a href="help.html"><i class="glyphicon glyphicon-certificate"></i>Yardım</a></li>
                </ul>
            </div><!-- end col -->
            <div class="col-sm-4">
                <h5 class="title">Adresimiz</h5>
                <p>İTÜ Ayazağa Kampüsü,
                    UYBHM. Binası No:2
                    Sarıyer/İstanbul</p>
                <h6 class="text-light"><i class="glyphicon glyphicon-phone"></i> +90 212 225 57 23</h6>
                <h6 class="text-light"><i class="glyphicon glyphicon-envelope"></i> info@sc3.io</h6>
            </div><!-- end col -->
        </div><!-- end row -->
        <hr class="spacer-20">
        <div class="row">
            <div class="col-sm text-center">
                <p class="text-sm">&COPY; 2017. Made with <i class="glyphicon glyphicon-heart"></i> Bootstrap by
                    TRNet</p>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</footer>
<!-- end footer -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script>
        var search_list = [];
        $.ajax({
                        type: 'GET',
                        url: 'http://localhost:8000/games/games_json/',
                        data: { get_param: 'value' },
                        dataType: 'json',
                        success: function (data) {
                                var json = data;

                        $.each(json,function (i,item){
                            search_list.push(json[i].game_name)
                        });

                }
        });






        


        $('#oyunArama').autocomplete({
            minLength: 1,
            source: search_list,
            select: function (event, ui) {
                $('#oyunArat').text(search_list[ui.item]);
            }
        });


    </script>


</body>
</html>
