<head>
    {% extends './admin.html' %}
    {% load staticfiles %}
    {% block title%}<title>Giriş</title>{% endblock %}
</head>
{% block content %}
    <link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="container">
		<div class="giris">
            <form action="{% url 'adminn:create_company' %}" method="POST">{% csrf_token %}
				 <div class="ust-giris">
                     <h3>ŞİRKET EKLE</h3>
					<div class="mation">
                        <span>Şirket Adı<label></label></span>
						<input type="text" name="cname">

				    </div>
                     </div>

                  <input type="submit" value="EKLE" class="btn btn-danger" style="margin-left:520px">
              </form>
		   </div>
</div>
{% endblock %}