<head>
    {% extends './admin.html' %}
    {% load staticfiles %}
    {% block title%}<title>Şirket Listesi</title>{% endblock %}
    <script>
        $(document).ready(function(){
$("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    $("[data-toggle=tooltip]").tooltip();
});


    </script>
</head>
{% block content %}
    <link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="container">
		<div class="giris">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">

        <h5>Şirketler</h5>
        <div class="col-md-12" style="width:72%">

        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">
                  <form action="{% url 'adminn:company_delete' %}" method="post">{% csrf_token %}

                      <thead>

                      <th>Adı</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>Sil</th>
                      </thead>
                      <tbody>
                      {% for name in companys%}
                      <tr>
                          <td>{{name.company_name}}</td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td><input type="radio" name="name" value="{{name.name}}"></td>
                      </tr>

                      {% endfor %}

                      </tbody>
                      <button type="submit">Gönder</button>
                  </form>

</table>

            {% if companys.has_other_pages %}
            <ul class="pagination">
                {% if companys.has_previous %}
                <li><a href="?page={{ companys.previous_page_number }}">&laquo;</a></li>

                {% endif %}
                {% for i in companys.paginator.page_range %}
                {% if companys.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if companys.has_next %}
                <li><a href="?page={{ companys.next_page_number }}">&raquo;</a></li>

                {% endif %}
            </ul>
            {% endif %}


				</div>
		   </div>
</div>
{% endblock %}