<head>

    {% extends './admin.html' %}
    {% load staticfiles %}
    {% block title%}<title>Oyun Listesi</title>{% endblock %}
      <script type="text/javascript" src="{% static 'js/tool_tip.js' %}"></script>




</head>



    <link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="container">
    <div class="giris">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="container">
    {% block content %}
    <div class="row">

        <h5>Oyunlar</h5>
        <div class="col-md-12" style="width:0%">

        <div class="table-responsive">


              <table id="mytable" class="table table-bordred table-striped">
                  <form action="{% url 'adminn:delete_game' %}" method="post">{% csrf_token %}

                      <thead>

                      <th>Oyun Adı</th>
                      <th>Ücreti</th>
                      <th>Oluşturulma Tarihi</th>
                      <th>Değiştirilme Tarihi</th>
                      <th>Kategori</th>
                      <th>Şirket</th>
                      <th>Platform</th>
                      <th>Sil</th>

                      </thead>
                      <tbody id="games">

                      {% for a in game%}
                      <tr>
                          <td>{{a.name}}</td>
                          <td>{{a.price}}</td>
                          <td>{{a.created_date}}</td>
                          <td>{{a.update_date}}</td>
                          <td>{{a.genre_name}}</td>
                          <td>{{a.company_name}}</td>
                          <td>{{a.platform_name}}</td>

                          <td><input type="radio" name="name" value="{{a.name}}"></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                      <div>
                          <button type="submit" style="margin-left: 720px;">SİL</button>
                      </div>
                  </form>
</table>

            {% if game.has_other_pages %}
            <ul class="pagination">
                {% if game.has_previous %}
                <li><a href="?page={{ game.previous_page_number }}">&laquo;</a></li>

                {% endif %}
                {% for i in game.paginator.page_range %}
                {% if game.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if game.has_next %}
                <li><a href="?page={{ game.next_page_number }}">&raquo;</a></li>

                {% endif %}
            </ul>
            {% endif %}
        </div>
       </div>
</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
      <script type="text/javascript" src="{% static 'js/table_filler.js' %}"></script>

{% endblock %}
