{% extends 'base.html' %}
{% load staticfiles %}


{% block content%}

<div class="container" id="gdata">
    <h2>Oyun adı<p id="gname">{{game_data.game_name}}</p></h2>
    <h2>Oyun id<p id="gid">{{game_data.game_id}}</p></h2>
    <h2>Oyun fiyatı<p id="gprice">{{game_data.game_money_price}}</p></h2>
    <button id="game" onclick="addtocart()">Sepete Ekle</button>
</div>
<script>
    var gname = document.getElementById("gname").innerHTML;
    var gid = document.getElementById("gid").innerHTML;
    var gprice = document.getElementById("gprice").innerHTML;


    function addtocart() {
        $.ajax({
            type: "POST",
            url: "{% url 'sales:addtocart' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token}}',
                game_name: gname,
                game_id: gid,
                game_price: gprice,
            },

            success: function (response) {
                console.log(response.game_name);

            }
        });
    }

</script>
{% endblock%}