{% extends 'base.html' %}
{% load staticfiles %}
<head>
    {% block title %}Sepet{% endblock %}
    <script src="{% static 'js/bootstrap.js' %}"></script>

</head>


{% block content %}

<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="checkout-table" id="testing">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="form-layout">
            <table id="checkout-table" class="table table-striped">
                <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Adet</th>
                    <th class="text-center">Fiyat</th>
                    <th class="text-center">Toplam</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for product in product_list%}
                <tr id="game-{{product.game_id}}">
                    <td class="col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                                                          src='{% static "" %}{{product.logo}}'
                                                                          style="width: 80px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{product.game_name}}</h4>
                                <!--<h5 class="media-heading">by Brand name</h5>-->
                            </div>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="number" onchange="newTotal('{{product.game_id}}')"
                               class="form-control product-quantity"
                               value="{{product.quantity}}">
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><label class="price">{{product.game_price}}₺</label>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center"><label class="subtotal">{{product.subtotal}}₺</label></td>
                    <td class="col-sm-1 col-md-1">
                        <button type="button" onclick="deleteItem('{{product.game_id}}')" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Sil
                        </button>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td><h3>Toplam</h3></td>
                    <td class="text-right"><h3 class="total">{{request.session.cartTotal}}₺</h3></td>
                </tr>
                <tr>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Alışverişe Devam Et
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success">
                            Satın Al <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script>
    function newTotal(id) {
        var quantity = parseInt($("#game-" + id).find(".product-quantity").val());
        var price = parseInt($("#game-" + id).find(".price").text().replace("₺", ""));
        var subtotal = parseInt($("#game-" + id).find(".subtotal").text().replace("₺", ""));
        var total = parseInt($(".total").text().replace("₺", ""));

        var newSubtotal = parseFloat(quantity * price);

        $("#game-" + id).find(".subtotal").text(newSubtotal + '₺');
        $.post("{% url 'sales:update_cart' %}", {
                game_id: id,
                quantity: quantity,
                newSubtotal: newSubtotal,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function (data) {
                $("#testing").load(location.href + " #testing>*", "");
                $("#mycart").load(location.href + " #mycart>*", "");
            });

    };
    function deleteItem(id) {
        $.ajax({
            type: "POST",
            url: "{% url 'sales:deletecartitem' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                game_id: id
            },
            success: function () {
                $("#testing").load(location.href + " #testing>*", "");
                $("#mycart").load(location.href + " #mycart>*", "");
            }
        });
    }
</script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
{% endblock %}

