{% extends 'base2.html' %}
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Checkout</title>

</head>

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                {% for item in product_list %}
                <tr id="product">
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h6 id="pname" class="media-heading"><a href="#">{{ item.name }}</a></h6>
                                <h6 id="cname" class="media-heading"> by <a href="#">{{ item.company}}</a></h6>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" min="1" class="form-control" id="quantity" value="1">
                        </td>
                    <td id="price" class="col-sm-1 col-md-1 text-center"><strong>{{ item.price }}</strong></td>
                    <td id="total" class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot style="align-items: right">
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5><h3>Total</h3></td>
                        <td><h5>10.4$</h5><h3>20.10$</h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/dynamic_checkout.js' %}"></script>
{% endblock %}

