{% extends 'base-with-category.html' %}
{% load staticfiles %}

{% block title%}<title>EpinWorld-Anasayfa</title>{% endblock %}
<!-- Page Content -->
{% block content %}

<link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">

<div class="col-md-9" style="margin-top: 20px;">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                    <div class="item">
                        <img class="slide-image" src="http://placehold.it/800x300" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

    </div>

    <div id="game-info" class="row">

    </div>

</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript">
    var game_product_footer = "";
    $.ajax({
        type: "GET",
        url: "{% url 'games:games_json'%}",
        data: { get_param: 'value' },
        dataType: "json",
        success: function (data) {
            var json = data;
            $.each(json,function(i){
                var name = json[i].game_name;
                game_product_footer += "<div class='col-sm-4 col-lg-4 col-md-4'><div class='thumbnail'>";
                game_product_footer += "<img class='thumbnail' id='game-image' src='static/"+json[i].logo+"'/>";
                game_product_footer += "<div id='product' class='caption'>";
                game_product_footer += "<h4 id='gameprice' class='pull-right'>"+json[i].game_money_price + "₺" +"</h4>";
                game_product_footer += "<h4 id='gamename'> <a href='/games/game_detail/"+json[i].game_name+"'>"+json[i].game_name+"</a></h4>";
                game_product_footer += "<p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>";
                game_product_footer += '<button type="button" id="'+json[i].game_id+'" class="btn btn-primary addtocart"   value="'+json[i].game_name+ "/" + json[i].game_money_price +'"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button></div></div>';

            });

            $('#game-info').append(game_product_footer)
        }
    });

    $("#game-info").on("click", "button", function () {
        /*$("img").clone().addClass("zoom").appendTo("body");
        setTimeout(function () {
           $(".zoom").remove();
        },1000);*/

        var id = $(this).attr('id');
        var name = $(this).val().split("/")[0];
        var price = $(this).val().split("/")[1];
        $.ajax({
            type: "POST",
            url: "{% url 'sales:addtocart' %}",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                game_name: name,
                game_id: id,
                game_price: price
            },
            success: function () {

                $("#mycart").load(location.href+" #mycart>*","");
            }
        });
    });

</script>

<!-- /.container -->
{% endblock %}
