{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<head>
    {% block title%}<title>EpinWorld-Anasayfa</title>{% endblock %}
        <link href="{% static 'css/index_page_product.css'%}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{% static 'js/index_page_products.js'%}"></script> 
</head>
<div class="container">
    <hr />
    <div class="col-sm-offset-4">
    <div id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'images/tomb.jpg' %}"  style="height:450px;width: inherit" class="img-responsive">
                <div class="container">
                    <div class="carousel-caption">

                        <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap=""
                               3="">

                        <p><a class="btn btn-lg btn-primary" href="http://getbootstrap.com"></a>
                        </p></pthis></div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/fifa.jpg' %}" style="height: 450px;width: inherit" class="img-responsive">
                <div class="container">
                    <div class="carousel-caption">
                        <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/sims.jpg' %}" style="height: 450px" class="img-responsive">
                <div class="container">
                    <div class="carousel-caption">

                        <p><a class="btn btn-large btn-primary" href="#"> </a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
    <!-- /.carousel -->
    </div>
    <!-- -->
    <br>
    <br>
    <br>
    <br>

    <div id="products_footer">
         
    {% for index_data in index_game_data %}
            <div class="col-sm-3">
                    <article class="col-item">
                        <div class="photo">
                    

                            <div class="options-cart">
                                <a href="/users/game_detail/{{index_data.game_name}}">
                                    <button class="btn btn-default" title="Add to cart">
                                        <span class="fa fa-shopping-cart"></span>
                                    </button>
                                </a>
                            </div>
                            <a href=""> <img src="{% static 'images/Diablo3.jpg'%}" class="img-responsive" alt="Product Image" /> </a>
                        </div>
                        <div class="container">
                            <br>
                            <strong><p>{{index_data.game_name}}</p></strong>
                            <strong><p>{{index_data.game_money_price}}</p></strong>

                        </div>
                    </article>
       
                </div>
    {%endfor%}
    </div>




    <div id="products_footer">
      
    </div>

             
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/index_game_filler.js' %}"></script>

</div><!-- /.container -->
{% endblock %}