<head>
    {% extends 'base.html' %}
    {% load staticfiles %}
    {% block title%}<title>Login</title>{% endblock %}
</head>
{% block content %}
    <link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="container">
		<div class="giris">
		  	  <form action="{% url 'users:auth_login' %}" method="POST" >{% csrf_token %}
				 <div class="ust-giris">
					<h3>LOGIN INFORMATIONS</h3>
					<div class="mation">
						<span>Username<label>*</label></span>
						<input type="text" name="username">
						<span>Password<label>*</label></span>
						<input type="password" name="password">
					</div>
					   <a class="forgot" href="#">Forgot my Password ?</a>
					   <input type="submit" value="GİRİŞ">
					 </div>
				</form>

				</div>
		   </div>
</div>
{% endblock %}