{% extends './admin.html' %}
{% load staticfiles %}
{% block title%}<title>OYUN EKLE</title>{% endblock %}
{% block content %}
<link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>

<div class="col-md-6">
    <form class="user-form" action="{% url 'adminn:add_game' %}" method="POST">{% csrf_token %}
        <h3>Oyun Ekle</h3>
        <div class="col-md-12">
            <div class="form-layout">
                <label> Logo: </label>
                <input type="file" name="game_logo" accept="image/*" size="">
                <label> Oyun Adı:</label>
                <input type="text" name="game_name" class="form-control">
                <label> Fiyatı: </label>
                <input type="number" name="price" class="form-control">
                <label> Oyun Açıklaması: </label>
                <textarea class="form-control" rows="5" id="content"></textarea>

                <label> Kategori: </label>
                <select name="category" style="margin: 5px 5px 10px 0px">
                    {% for i in category%}
                    <option value="{{i.genre_name}}" name="{{i.genre_name}}">{{i.genre_name}}</option>
                    {% endfor %}
                </select>

                <label> Şirket: </label>
                <select name="company" style="margin: 5px 5px 10px 0px">
                    {% for c in company %}
                    <option name="{{c.company_name}}" value="{{c.company_name}}">{{c.company_name}}</option>
                    {% endfor %}
                </select>

                <label> Platform </label>
                <select name="platform" style="margin: 5px 5px 10px 0px">
                    {%for i in platform%}
                    <option value="{{i.platform_name}}" name="{{i.platform_name}}">{{i.platform_name}}</option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <div class="col-md-4">
            <button type="submit" style="margin-left: -15px" class="btn btn-block signup-button">Ekle</button>
        </div>
    </form>
</div>

{% endblock %}