<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/cartlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">

</head>
<style>
    .m0 {
        margin: 0;
    }
</style>
<body>
<div class="container">
    <nav class="navbar navbar-default custom-header">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link"
                                          href="{% url 'home:index' %}">Epin<span>World </span> </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav links">
                    <li role="presentation"><a href="{% url 'games:all_game' %}"> Oyunlar </a></li>
                    <li role="presentation"><a href="{% url 'home:index' %}"> Hakkında</a></li>
                    <li role="presentation"><a href="{% url 'home:index' %}"> Yardım</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right userlinks">
                    {% if request.session.is_logged %}
                    {% if request.session.admin_id == 1 %}
                    <a href="{% url 'adminn:index' %}" class="btn btn-primary button1" role="button">Admin</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-primary button2" role="button">Çıkış</a>
                    {% else %}
                    <a href="{% url 'users:profile' %}" class="btn btn-primary button1" role="button">Profil</a>
                    <a href="{% url 'users:logout' %}" class="btn btn-primary button2" role="button">Çıkış</a>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'users:register' %}" class="btn btn-primary button1" role="button">Üye Ol</a>
                    <a href="{% url 'users:login' %}" class="btn btn-primary button2" role="button">Giriş</a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<header>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <form action="{% url 'games:search_game' %}" method="post">{% csrf_token %}
                    <div id="custom-search-input">
                        <div class="input-group col-md-6">
                            <input type="text" id="oyunArama" class="form-control input-lg" style="color: white;"
                                   placeholder="Oyun Ara..."/>
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-lg" type="button">
                                        <i class="fa fa-search" aria-hidden="true"
                                           style="font-size: 23px; color: #eb3a3a;"></i>
                                    </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div id="mycart" class="dropdown cart">
                    <button class="btn dropdown-toggle cart" type="button" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart carticon" aria-hidden="true"></i>Sepet<span class="badge">{{ request.session.cart|length }}</span>
                        <span class="caret" style="color: white; margin-left: 5px"></span></button>
                    <ul class="dropdown-menu dropdown-cart" style="right:0; left: auto;" role="menu">
                        <div class="cart-header">
                            <i class="fa fa-shopping-cart cart-icon"
                               style="font-size: 25px; margin-left: 10px; color: rgba(117, 236, 165, 0.9);"></i><span
                                class="badge">{{ request.session.cart|length }}</span>
                            <div class="shopping-cart-total">
                                <span>Toplam:</span>
                                <span class="cart-total">0</span>
                            </div>
                        </div>
                        {% if request.session.cart|length == 0 %}
                        <p style="text-align: center; color: white; margin-top: 10px;"> Sepet boş.</p>
                        {% else %}
                        {% for item in request.session.cart %}
                        <li>
                                    <span class="item">
                                        <span class="item-left">
                                            <img src="http://lorempixel.com/50/50/" class="img-circle" alt=""/>
                                            <span class="item-info">
                                                <span class="item-name">{{ item.game_name }}</span><br>
                                                <span class="item-quantity">{{ item.quantity }}</span>
                                                <label>x</label>
                                                <span class="item-price">{{ item.game_price }}₺</span>
                                            </span>
                                        </span>
                                        <span class="item-right">
                                            <button value="{{ item.game_id }}" onclick="removeCartItem()"
                                                    class="btn btn-xs btn-danger pull-right"><i class="fa fa-times"
                                                                                                aria-hidden="true"></i></button>
                                        </span>
                                    </span>
                        </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a class="text-center" style="color: white;" href="{% static 'sales:checkout' %}">Sepete
                            Git</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="nav-side-menu">
                <div class="brand">Admin Panel</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li data-toggle="collapse" data-target="#games" class="collapsed">
                            <a href="#"><i class="fa fa-desktop fa-lg"></i> Oyun <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="games">
                            <li><a href="{% url 'adminn:add_game'%}">Oyun Ekle</a></li>
                            <li><a href="{% url 'adminn:list_game' %}">Oyun Listele - Sil</a></li>
                        </ul>


                        <li data-toggle="collapse" data-target="#users" class="collapsed">
                            <a href="#"><i class="fa fa-gamepad fa-lg"></i> Kullanıcı <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="users">
                            <li><a href="{% url 'adminn:user_list' %}">Kullanıcı Listeleme - Silme</a></li>
                        </ul>


                        <li data-toggle="collapse" data-target="#sales" class="collapsed">
                            <a href="#"><i class="fa fa-gamepad fa-lg"></i> Siparişler <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="sales">
                            <li><a href="{% url 'adminn:order_table' %}">Sipariş Listeleme - Silme</a></li>
                        </ul>
                        <li>


                        <li data-toggle="collapse" data-target="#company" class="collapsed">
                            <a href="#"><i class="fa fa-gamepad fa-lg"></i> Şirketler <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="company">
                            <li><a href="{% url 'adminn:create_company' %}">Şirket ekle</a></li>
                            <li><a href="{% url 'adminn:list_company' %}">Şirket Listeleme - Silme</a></li>
                        </ul>
                        <li>
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="container">
    <footer>
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="#">Epin<span>World </span></a></h3>
                <p class="links"><a href="{% url 'home:index' %}">Anasayfa</a><strong> · </strong>
                    <a href="{% url 'games:all_game' %}">Oyunlar</a><strong> · </strong>
                    <a href="{% url 'users:profile' %}">Profil</a></p>
                <p class="company-name">EpinWorld © 2017 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">İTÜ Ayazağa</span> İstanbul, Türkiye</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +90 212 2255 723</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p>info@sc3.io</p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>Adresimiz</h4>
                <p> İTÜ Ayazağa Kampüsü,
                    UYBHM. Binası No:2
                    Sarıyer/İstanbul
                </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
                        class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
</div>
<script>
    function removeCartItem() {
        $(".item").on("click", "button", function () {
            var game_id = $(this).val();

            $.ajax({
                type: "POST",
                url: "{% url 'sales:deletecartitem' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    game_id: game_id
                },
                success: function () {
                    $("#mycart").load(location.href + " #mycart>*", "");
                }
            });
        });
    }

</script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

