{% extends './admin.html' %}
{% load staticfiles %}
{% block title %}Şirket Ekle{% endblock %}
{% block content %}
<link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>

<div class="col-md-6">
    <form class="user-form" action="{% url 'adminn:create_company' %}" method="POST">{% csrf_token %}
        <h3>Şirket Ekle</h3>
        <div class="col-md-12">
            <div class="form-layout">
                <label> Şirket Adı: </label>
                <input type="text" name="cname" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            <button type="submit" style="margin-left: -15px" class="btn btn-block signup-button">Ekle</button>
        </div>
    </form>
</div>
{% endblock %}



