<head>

    {% extends './admin.html' %}
    {% load staticfiles %}
    {% block title%}<title>Oyun Sil</title>{% endblock %}
    <script type="text/javascript" src="{% static 'js/tool_tip.js' %}"></script>


</head>
{% block content %}


<link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="container">
    <div class="giris">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

        <div class="container">
            <div class="row">

                <h5>Oyunlar</h5>
                <div class="col-md-12" style="width:0%">

                    <div class="table-responsive">


                        <table id="mytable" class="table table-bordred table-striped">

                            <thead>

                            <th>Oyun ismi</th>
                            <th>Fiyatı</th>

                            </thead>
                            <tbody id="games">

                            <tr>

                            </tr>
                            </tbody>

                        </table>


                    </div>
                </div>
            </div>


            <script type="text/javascript"
                    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
            <script type="text/javascript" src="{% static 'js/table_filler.js' %}"></script>

            {% endblock %}
