{% extends './admin.html' %}
{% load staticfiles %}
{% block title%}<title>OYUN EKLE</title>{% endblock %}
{% block content %}
<script>
    $(document).ready(function () {
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

</script>

<link href="{% static 'css/form.css'%}" rel="stylesheet" type="text/css"/>
<div class="user-table">
    <div class="col-md-9">
        <h3>Oyunlar</h3>
        <div class="table-responsive">
            <table id="user-table" class="table table-bordred table-striped">
                <form action="{% url 'adminn:delete_game' %}" method="post">{% csrf_token %}
                    <thead>
                    <th>Adı/Soyadı</th>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Durum</th>
                    <th>Yetki</th>
                    <th>Sil</th>
                    </thead>
                    <tbody>

                    {% for user in users%}
                    <tr>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        {% if user.status_id == 1%}
                        <td> Aktif</td>
                        {% else %}
                        <td> Pasif</td>
                        {% endif %}

                        {% if user.admin_id == 1 %}
                        <td>Admin</td>
                        {% else %}
                        <td>Normal</td>
                        {% endif %}
                        <td><input type="radio" name="name" value="{{user.username}}"></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <div>
                        <button type="submit" style="margin-left: 740px;">SİL</button>
                    </div>
                </form>
            </table>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/table_filler.js' %}"></script>

{% endblock %}