.profile-main {
    margin-top: 30px;
    margin-left: -30px;

}

.admin-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.admin-content {
    margin-top: 16px;
    margin-left: -20px;
    background: #343f49;

}

.panel-heading {
    /*background-color: #f97e76 !important;*/
    color: #343f49;
    background: #eb3a3a !important;
    border: none;
}

.panel-title {
    color: #ffffff;

}

.panel.panel-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #343f49;
    color: white;
    border: none;
    font-size: 14px;
}

.profile-link {
    color: #FFFFFF;
}

.profile-buttons {
    color: #fff;
    /*background-color: #eb3a3a;*/
    border: none;
    background: #eb3a3a;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #eb3a3a;
}