.user-form h3, .games-form h3, .user-table h3, .order-table h3, .company-table h3 {
    color: #6ed999;
    font-size: 19px;
    font-weight: bold;
}

.form-layout {
    margin-left: -15px;
}
.form-layout label{
    color: #ffffff;
    font-size: 15px;
    margin-top: 5px;
}

.form-layout input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
    background: rgba(117, 236, 165, 0);
    width: 300px;
    border: 0;
    font-size: 18px;
    border-bottom: 3px groove rgba(89, 131, 165, 0.29);
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
}

.form-layout input[type="file"] {
    background: rgba(117, 236, 165, 0);
    width: 300px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: white !important;

}
.register-button{

    font-size: 16px;
    padding: 8px 15px;
    margin-top: auto;
}
.signup-button{
    margin-left: -20px;
    padding: 4px;
    margin-top: 10px;
    background-color: #eb3a3a;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px
}
.register-text{
    margin-top: 20px;
    background: rgba(67, 85, 119, 0.44);
    padding: 15px;
    box-shadow: 5px 5px 1px rgba(20, 2, 2, 0.33);
}
.register-text h3{
    color: #06ffff;
    font-size: 18px;
    border-bottom: 1px solid;
    text-align: center;
    padding: 12px 5px;
    margin-top: 0px;
}
.register-text p{
    color: azure;
    font-size: 16px;
}
.register-text a{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 140px;
    background: rgba(0, 253, 255, 0.71);
}

.games-form th, .user-table th, .order-table th, .company-table th {
    color: #6ed999;
}

#games-table tr, #user-table tr, #order-table tr, #company-table tr {
    color: white;
    background-color: #343f48;
}

