{% extends 'base.html' %}
{% load staticfiles %}
{% block title%}<title>Kayıt Ol</title>{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-4">
    <form class="user-form" action="{% url 'users:register' %}" method="post" onsubmit="return validateForm()">{%
        csrf_token %}
        <h3>Kayıt Formu</h3>
        <div class="col-md-12">
            <div class="form-layout">
                <input type="text" name="name" class="form-control" placeholder="Ad*" required>
                <input type="text" name="surname" class="form-control" placeholder="Soyad*" required>
                <input type="email" name="email" class="form-control" placeholder="Email*" required>
                <input type="text" name="username" class="form-control" placeholder="Kullanıcı Adı*" required>
                <input type="password" minlength="8" maxlength="16" name="password" class="form-control"
                       placeholder="Şifre*" required>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-block signup-button">Kayıt Ol</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
{% endblock %}